In [ ]:
#Product
# Remove a £ character from the product_price column using SQL.
# The team that handles the deliveries would like a new human-readable column added for the weight so they can quickly make decisions on delivery weights.
#Add a new column weight_class which will contain human-readable values based on the weight range of the product.
 
ALTER TABLE dim_products
    RENAME removed TO still_available;


UPDATE dim_products
SET product_price = REPLACE(product_price, '£', '');


ALTER TABLE dim_products
ADD COLUMN weight_class VARCHAR(20);

UPDATE dim_products
SET weight_class =
    CASE
        WHEN weight < 2 THEN 'Light'
        WHEN weight >= 2 AND weight < 40 THEN 'Mid_Sized'
        WHEN weight >= 40 AND weight < 140 THEN 'Heavy'
        WHEN weight >= 140 THEN 'Truck_Required'
        ELSE NULL
    END;

ALTER TABLE dim_products
    ALTER COLUMN product_code TYPE VARCHAR(11);
ALTER TABLE dim_products
    ALTER COLUMN uuid TYPE uuid USING uuid::uuid;
ALTER TABLE dim_products
    ALTER COLUMN weight TYPE float;

ALTER TABLE dim_products
    ALTER COLUMN product_price TYPE float USING product_price::double precision;
ALTER TABLE dim_products
    ALTER COLUMN date_added TYPE date;


#TO make a primary key
ALTER TABLE dim_products
ADD CONSTRAINT pk_product_code PRIMARY KEY (product_code);

#Foreign Key
ALTER TABLE orders_table
ADD CONSTRAINT fk_product_code
FOREIGN KEY (product_code) REFERENCES dim_products(product_code)

In [ ]:
#UPDATE STORE Table

ALTER TABLE dim_store_details
    ALTER COLUMN longitude TYPE FLOAT;
ALTER TABLE dim_store_details
    ALTER COLUMN latitude TYPE FLOAT;
ALTER TABLE dim_store_details
    ALTER COLUMN opening_date TYPE date;

ALTER TABLE dim_store_details
    ALTER COLUMN locality TYPE VARCHAR(255);

ALTER TABLE dim_store_details
    ALTER COLUMN store_type TYPE VARCHAR(255);

ALTER TABLE dim_store_details
    ALTER COLUMN staff_numbers TYPE SMALLINT;

ALTER TABLE dim_store_details
    ALTER COLUMN continent TYPE VARCHAR(255);
ALTER TABLE dim_store_details
    ALTER COLUMN country_code TYPE VARCHAR(2);

ALTER TABLE dim_store_details
    ALTER COLUMN store_code TYPE VARCHAR(12);




#Primary Key
ALTER TABLE dim_store_details
ADD CONSTRAINT pk_store_code PRIMARY KEY (store_code);

#Foreign key

ALTER TABLE orders_table
ADD CONSTRAINT fk_store_code
FOREIGN KEY (store_code) REFERENCES dim_store_details(store

In [ ]:
ALTER TABLE dim_card_details
    ALTER COLUMN date_payment_confirmed TYPE date;

ALTER TABLE dim_card_details
    ALTER COLUMN card_number TYPE VARCHAR(20);

ALTER TABLE dim_card_details
    ALTER COLUMN expiry_date TYPE VARCHAR(5);

#dim_card_details
ALTER TABLE dim_card_details
ADD CONSTRAINT pk_card_number PRIMARY KEY (card_number);


ALTER TABLE orders_table
ADD CONSTRAINT fk_card_number
FOREIGN KEY (card_number) REFERENCES dim_card_details(card_number)

ALTER TABLE orders_table
ADD CONSTRAINT fk_date_uuid
FOREIGN KEY (date_uuid) REFERENCES dim_date(date_uuid)

In [ ]:
#USER DETAILS

ALTER TABLE dim_users
    ALTER COLUMN first_name TYPE VARCHAR(255);

ALTER TABLE dim_users
    ALTER COLUMN last_name TYPE VARCHAR(255);

ALTER TABLE dim_users
    ALTER COLUMN date_of_birth TYPE Date;

ALTER TABLE dim_users
    ALTER COLUMN country_code TYPE VARCHAR(2);

ALTER TABLE dim_users
    ALTER COLUMN user_uuid TYPE UUID USING user_uuid::uuid;

ALTER TABLE dim_users
    ALTER COLUMN join_date TYPE Date;


ALTER TABLE dim_users
ADD CONSTRAINT pk_user_uuid PRIMARY KEY (user_uuid);


ALTER TABLE orders_table
ADD CONSTRAINT fk_user_uuid
FOREIGN KEY (user_uuid) REFERENCES dim_users(user_uuid)

In [ ]:
ALTER TABLE dim_users
    ALTER COLUMN month TYPE VARCHAR(255);

ALTER TABLE dim_users
    ALTER COLUMN last_name TYPE VARCHAR(255);